#emoji{
    font-size: 50px;
}

body{
    background-color: rgb(37, 36, 39);
    color: rgb(212, 220, 220);
    text-align: center;
    font-family: 'Josefin Sans', sans-serif;
}

button{
    height: 40px;
    width: 110px;
    border-radius: 10px;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(194, 201, 201);
}